  <launch>
      <node pkg="icarmulti_formation" type="tf_broadcaster" args="/robot1" name="robot1_tf_broadcaster" />
      <node pkg="icarmulti_formation" type="tf_broadcaster" args="/robot2" name="robot2_tf_broadcaster" />
      <node pkg="icarmulti_formation" type="tf_broadcaster" args="/robot3" name="robot3_tf_broadcaster" />

      <node pkg="icarmulti_formation" type="master" name="master" />
      <node pkg="icarmulti_formation" type="slave_tf_listener2" name="slave2" />
      <node pkg="icarmulti_formation" type="slave_tf_listener3" name="slave3" />

  </launch>
