  <launch>
    
    <node pkg="icarmulti_formation" type="tf_broadcaster"
          args="/robot_0" name="robot_0_tf_broadcaster" />

    <node pkg="icarmulti_formation" type="tf_broadcaster"
          args="/robot_1" name="robot_1_tf_broadcaster" />
   
    <node pkg="icarmulti_formation" type="slave_tf_listener"
          name="slave" />
          
  </launch>
